
Debug/shakki.exe
Debug/shakki.ilk
Debug/shakki.pdb
shakki/Debug/asema.obj
shakki/Debug/kayttoliittyma.obj
shakki/Debug/main.obj
shakki/Debug/nappula.obj
shakki/Debug/shakki.log
shakki/Debug/shakki.tlog/CL.command.1.tlog
shakki/Debug/shakki.tlog/CL.read.1.tlog
shakki/Debug/shakki.tlog/CL.write.1.tlog
shakki/Debug/shakki.tlog/link.command.1.tlog
shakki/Debug/shakki.tlog/link.read.1.tlog
shakki/Debug/shakki.tlog/link.write.1.tlog
shakki/Debug/shakki.tlog/shakki.lastbuildstate
shakki/Debug/vc142.idb
shakki/Debug/vc142.pdb
Debug/shakki.exe
Debug/shakki.ilk
Debug/shakki.pdb
shakki/Debug/asema.obj
shakki/Debug/kayttoliittyma.obj
shakki/Debug/main.obj
shakki/Debug/nappula.obj
shakki/Debug/shakki.log
shakki/Debug/shakki.tlog/CL.command.1.tlog
shakki/Debug/shakki.tlog/CL.read.1.tlog
shakki/Debug/shakki.tlog/CL.write.1.tlog
shakki/Debug/shakki.tlog/link.command.1.tlog
shakki/Debug/shakki.tlog/link.read.1.tlog
shakki/Debug/shakki.tlog/link.write.1.tlog
shakki/Debug/shakki.tlog/shakki.lastbuildstate
shakki/Debug/vc142.idb
shakki/Debug/vc142.pdb
Debug/shakki.exe
.vs/shakki/v16/Browse.VC.opendb
.vs/shakki/v16/.suo
